@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --azul-bokking: #003580;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.AzulBooking {
  background-color: var(--azul-bokking);
}

.Navsize {
  /* padding: 12px 100px 8px 100px; Usado antes para primera nav*/
  margin: 0px 104.55px;
}

.NavText {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.btn-padding {
  padding: 8px 12px;
  margin: 8px 8px 0 0;
}

.IColombia img {
  height: 25px;
}

.IQuestion i {
  font-size: 20px;
}

.BtnVar {
  margin: 8px 8px 0 0;
  padding: 4px 12px;
  /* height: 28px;
  width: 110px; */
}

.btn-VarTex {
  font-size: 14px;
  color: #0071c2;
  font-weight: 450;
}

.li-lp {
  margin-right: 10px;
  color: #fff;
}
